<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="3a699d93-555f-439e-879a-96f992557b96" Publisher="CN=fuerte" Version="1.0.0.0" />
  <Properties>
    <DisplayName>Flurrysticks</DisplayName>
    <PublisherDisplayName>fuerte</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Flurrysticks.App">
      <VisualElements DisplayName="Flurrysticks" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="Flurrysticks" ForegroundText="dark" BackgroundColor="#eaeaea">
        <DefaultTile ShowName="allLogos" WideLogo="Assets\WideLogo.png" />
        <SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#eaeaea" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="privateNetworkClientServer" />
    <Capability Name="internetClient" />
  </Capabilities>
</Package>